@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
}

.sidebar{
    background-color: #38bdf8;
    grid-row-end: span 2;
    color: white;
    padding: 12px;
    font-size: 24px;
    font-weight: bold;
}

.sidebar ul{
    list-style-type: none;
}

.ico-white{
    filter: invert();
    width: 24px;
}

.header{
    padding: 24px;
}

.main{
    background-color: #e0f2fe;
}

.top{
    display: grid;
    grid-template-columns: 1fr auto 2fr 1fr 1fr 1fr;
}

.bar{
    width: auto;
}

.bell{
    grid-column-start: 4;
}