@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
}

    .sidebar{
        background-color: #38bdf8;
        grid-row-end: span 2;
        color: white;
        padding: 12px;
        font-size: 24px;
        font-weight: bold;
    }

        .sidebar ul{
            list-style-type: none;
        }

        .ico-white{
            filter: invert();
            width: 24px;
        }

    .header{
        padding: 24px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .top{
        display: grid;
        align-items: center;
        gap: 12px;
        grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr;
        margin-bottom: 12px;
    }
        .search{
            justify-self: center;
        }

        .bar{
            background-color: #e0f2fe;
            border: none;
            padding: 12px;
            width: 100%;
            border-radius: 25px;
        }

        .bell{
            grid-column-start: 4;
            justify-self: end;
        }

        .profilepic{
            width: 48px;
            justify-self: center;
        }

        .naming{
            font-weight: bold;
            justify-self: center;
        }
    
    .bottom{
        display: grid;
        grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 12px;
        justify-content: center;
        align-items: center;
    }
        .bigimage{
            width: 64px;
            grid-row-end: span 2;
            justify-self: end;
        }
        .welcome{
            grid-row-end: span 2;
            font-weight: bold;
            display: grid;
        }
            .hello{
                margin-bottom: 0;
            }
            .salute{
                font-size: 24px;
                align-self: baseline;
                margin: 0;
            }
        .blue{
            align-self: center;
            grid-row-end: span 2;
            padding: 12px;
            border-radius: 25px;
            border: none;
            background-color: #38bdf8;
            color: white;
        }
.main{
    background-color: #e0f2fe;
    padding: 12px;
    display: grid;
    gap: 12px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 20fr;
}
    .main h2{
        margin-bottom: 6px;
    }
    .main-content{
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 2;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: max-content;
        gap: 24px;
        margin-right: 12px;

    }
        .mainboard{
            background-color: white;
            border-radius: 12px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            display: grid;
            grid-template-columns: 10px 1fr;
            grid-template-rows: 2fr 1fr;
            overflow: hidden;
        }
            .mainboard-color{
                grid-row-end: span 2;
                background-color: blue;
            }
            .mainboard-content{
                margin-left: 12px;
                margin-right: 48px;
            }
            .mainboard-links{
                display: grid;
                grid-template-columns: 2fr 1fr 1fr 1fr;
                justify-content: center;
                align-items: center;
            }
            .mainboard-links img{
                width: 24px;
            }

    .rightbar{
        grid-column-start: 2;
        grid-row-end: span 2;
        margin-right: 12px;
    }
        .rightbar-title{
            grid-row-end: 2;
        }
        .board{
            background-color: white;
            padding: 24px;
            border-radius: 12px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            margin-bottom: 48px;
        }

        .announce{
            padding-left: 12px;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
        .announce h4{
            margin-bottom: 0;
        }
        .announce p{
            margin-top: 1px;
            margin-bottom: 2px;
            color: gray;
        }

        .divider{
            margin-top: 24px;
            margin-bottom: 12px;
            border-bottom: 2px solid lightgray;
        }
        .trending{
            display: grid;
        }
            .trend-item{
                display: grid;
                
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                justify-items: center;
            }
            .trend-item-pic{
                grid-row-end: span 2;
                align-self: center;
            }
            .trend-item-pic img{
                width: 48px;
                
            }
            .trend-item-content{
                justify-self: baseline;
                align-self: center;
            }
                .trend-user{
                    margin-bottom: 0px;
                    align-self: end;
                    justify-self: baseline;
                }
                .trend-content{
                    color: gray;
                    margin-bottom: 12px;
                    justify-self: baseline;
                    margin-bottom: 1rem;
                }